USE [MyDataBase]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RuleId] [int] NULL,
	[Name] [nvarchar](500) NULL,
	[Username] [varchar](70) NULL,
	[Password] [varchar](70) NULL,
	[Level] [varchar](50) NULL,
	[Admin] [int] NULL,
	[Ord] [int] NULL,
	[Active] [int] NULL,
 CONSTRAINT [PK__User__3214EC072B557150] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vv]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create View [dbo].[vv] as select * from [User]
GO
/****** Object:  Table [dbo].[Rule]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rule](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_Rule] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_User_Rule]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE View [dbo].[v_User_Rule]  
  as
  select u.Id,u.RuleId,u.Name,u.Username,u.[Password],u.[Level],u.Ord,u.Active,u.[Admin],r.Name [NameRule]   from [User] u, [Rule] r where u.RuleId=r.Id 
--get by top
GO
/****** Object:  Table [dbo].[Advertise]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Advertise](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Image] [varchar](500) NULL,
	[Link] [varchar](500) NULL,
	[Target] [varchar](10) NULL,
	[Position] [int] NULL,
	[Content] [ntext] NULL,
	[MenuID] [int] NULL,
	[Click] [int] NULL,
	[Ord] [int] NULL,
	[Active] [int] NULL,
	[Lang] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EnquiryId] [int] NULL,
	[FullName] [nvarchar](50) NULL,
	[Email] [varchar](100) NULL,
	[Date] [datetime] NULL,
	[Point] [int] NULL,
	[Detail] [ntext] NULL,
	[Active] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Config]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Config](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Mail_Smtp] [varchar](64) NULL,
	[Mail_Port] [smallint] NULL,
	[Mail_Info] [varchar](64) NULL,
	[Mail_Noreply] [varchar](64) NULL,
	[Mail_Password] [varchar](64) NULL,
	[PlaceBody] [nvarchar](500) NULL,
	[GoogleId] [varchar](50) NULL,
	[Contact] [ntext] NULL,
	[DeliveryTerms] [ntext] NULL,
	[PaymentTerms] [ntext] NULL,
	[FreeShipping] [float] NULL,
	[Coppyright] [ntext] NULL,
	[Title] [nvarchar](1) NULL,
	[Description] [nvarchar](256) NULL,
	[Keyword] [nvarchar](256) NULL,
	[Lang] [varchar](5) NULL,
	[Helpsize] [ntext] NULL,
	[Location] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[Company] [nvarchar](512) NULL,
	[Address] [nvarchar](512) NULL,
	[Tel] [varchar](64) NULL,
	[Mail] [varchar](64) NULL,
	[Detail] [ntext] NULL,
	[Date] [datetime] NULL,
	[Active] [int] NULL,
	[Lang] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enquiry]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enquiry](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GroupNewsId] [int] NULL,
	[Name] [nvarchar](200) NULL,
	[Tag] [nvarchar](500) NULL,
	[Email] [nvarchar](300) NULL,
	[NameEnquiry] [nvarchar](500) NULL,
	[Content] [nvarchar](500) NULL,
	[Detail] [ntext] NULL,
	[Image] [nvarchar](500) NULL,
	[Date] [datetime] NULL,
	[NumberView] [int] NULL,
	[Active] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupNews]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupNews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Level] [nvarchar](50) NULL,
	[Ord] [int] NULL,
	[Title] [nvarchar](500) NULL,
	[Tag] [nvarchar](500) NULL,
	[Description] [nvarchar](500) NULL,
	[KeyWord] [nvarchar](500) NULL,
	[Position] [int] NULL,
	[Index] [int] NULL,
	[Priority] [int] NULL,
	[Active] [int] NULL,
	[Lang] [nchar](10) NULL,
 CONSTRAINT [PK__GroupNew__3214EC07B221F8C9] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Language]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Language](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[Folder] [varchar](100) NULL,
	[Default] [int] NULL,
	[Image] [varchar](500) NULL,
	[Active] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Link]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Link](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Link] [varchar](500) NULL,
	[Type] [int] NULL,
	[Ord] [int] NULL,
	[Active] [int] NULL,
	[Lang] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[Email] [varchar](256) NULL,
	[UserName] [varchar](64) NULL,
	[PassWord] [varchar](64) NULL,
	[Active] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Tag] [nvarchar](300) NULL,
	[Content] [nvarchar](4000) NULL,
	[Detail] [ntext] NULL,
	[Level] [varchar](50) NULL,
	[Title] [nvarchar](500) NULL,
	[Type] [nvarchar](50) NULL,
	[Description] [nvarchar](500) NULL,
	[KeyWord] [nvarchar](500) NULL,
	[Index] [int] NULL,
	[Target] [varchar](100) NULL,
	[Position] [int] NULL,
	[Ord] [int] NULL,
	[Link] [nchar](500) NULL,
	[Active] [int] NULL,
	[Lang] [varchar](10) NULL,
 CONSTRAINT [PK__Menu__3214EC07E2B487D9] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[GroupNewsId] [int] NULL,
	[Tag] [nvarchar](300) NULL,
	[Title] [nvarchar](500) NULL,
	[Content] [nvarchar](300) NULL,
	[Image] [varchar](256) NULL,
	[Description] [nvarchar](500) NULL,
	[KeyWord] [nvarchar](500) NULL,
	[Detail] [ntext] NULL,
	[Date] [datetime] NULL,
	[Index] [int] NULL,
	[Priority] [int] NULL,
	[Active] [int] NULL,
	[Lang] [nchar](10) NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK__News__3214EC07B6E2F0D4] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Advertise] ON 

INSERT [dbo].[Advertise] ([Id], [Name], [Image], [Link], [Target], [Position], [Content], [MenuID], [Click], [Ord], [Active], [Lang]) VALUES (6, N'quảng cáo 2', N'/Upload/advertise/20240115_bcYaK8hk.jpg', N'vnexpress.net', N'_blank', 2, N'', 0, 1, 1, 1, N'          ')
INSERT [dbo].[Advertise] ([Id], [Name], [Image], [Link], [Target], [Position], [Content], [MenuID], [Click], [Ord], [Active], [Lang]) VALUES (7, N'quảng cáo 2', N'/Upload/advertise/1570087183dan-tri.jpg', N'dantri.com.vn', N'_blank', 2, N'', 0, 1, 1, 1, N'          ')
INSERT [dbo].[Advertise] ([Id], [Name], [Image], [Link], [Target], [Position], [Content], [MenuID], [Click], [Ord], [Active], [Lang]) VALUES (8, N'quảng cáo 3', N'/Upload/advertise/truong-thanh-tung.jpg', N'khoahoc.com.vn', N'_blank', 4, N'', 0, 1, 2, 1, N'          ')
SET IDENTITY_INSERT [dbo].[Advertise] OFF
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([Id], [EnquiryId], [FullName], [Email], [Date], [Point], [Detail], [Active]) VALUES (38, 23, N'Nguyễn Văn Hùng', N'hung@nbt.com', CAST(N'2013-06-06T20:33:11.000' AS DateTime), 0, N'Vậy tôi xin BS tư vấn giúp tôi hai vấn đề: 1. Ở độ tuổi này mỗi ngày cháu cần bao nhiêu sữa? 2. Tôi có nên giảm sữa mẹ và chuyển sang sữa ngoài cho cháu không? Tôi xin cảm ơn BS! - (Đ.T Thắm – huyenthoai...@yahoo.com', 1)
INSERT [dbo].[Comment] ([Id], [EnquiryId], [FullName], [Email], [Date], [Point], [Detail], [Active]) VALUES (63, 61, N'gfgdfg', N'Sf@gmail.com', CAST(N'2013-06-16T18:12:53.000' AS DateTime), 0, N'ryfffffffffff', 0)
INSERT [dbo].[Comment] ([Id], [EnquiryId], [FullName], [Email], [Date], [Point], [Detail], [Active]) VALUES (64, 61, N'fdvfdg', N'dgdgd@gmail.com', CAST(N'2013-06-16T18:13:43.000' AS DateTime), 0, N'ddddddddddd', 0)
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
SET IDENTITY_INSERT [dbo].[Enquiry] ON 

SET IDENTITY_INSERT [dbo].[Enquiry] OFF
GO
SET IDENTITY_INSERT [dbo].[GroupNews] ON 

INSERT [dbo].[GroupNews] ([Id], [Name], [Level], [Ord], [Title], [Tag], [Description], [KeyWord], [Position], [Index], [Priority], [Active], [Lang]) VALUES (34, N'Văn bản mới ban hành', N'00001', 1, N'van ban moi ban hanh', N'van-ban-moi', N'văn bản bộ y tề', N'van ban y te', 1, 0, 0, 1, NULL)
INSERT [dbo].[GroupNews] ([Id], [Name], [Level], [Ord], [Title], [Tag], [Description], [KeyWord], [Position], [Index], [Priority], [Active], [Lang]) VALUES (36, N'Thông tin hoạt động', N'00002', 2, N'', N'thong-tin-hoat-dong', N'', N'', 2, 0, 0, 1, NULL)
INSERT [dbo].[GroupNews] ([Id], [Name], [Level], [Ord], [Title], [Tag], [Description], [KeyWord], [Position], [Index], [Priority], [Active], [Lang]) VALUES (41, N'HIV/AIDS', N'00003', 3, N'', N'hivaids', N'', N'', 44, 0, 0, 1, NULL)
SET IDENTITY_INSERT [dbo].[GroupNews] OFF
GO
SET IDENTITY_INSERT [dbo].[Menu] ON 

SET IDENTITY_INSERT [dbo].[Menu] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[Rule] ON 

INSERT [dbo].[Rule] ([Id], [Name], [Description]) VALUES (1, N'Admin', N'Admin')
INSERT [dbo].[Rule] ([Id], [Name], [Description]) VALUES (2, N'User kiểm duyệt', N'Admin2')
INSERT [dbo].[Rule] ([Id], [Name], [Description]) VALUES (3, N'User đăng bài', N'Admin3')
SET IDENTITY_INSERT [dbo].[Rule] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [RuleId], [Name], [Username], [Password], [Level], [Admin], [Ord], [Active]) VALUES (26, 1, N'Nguyễn Văn Phê', N'vanphenguyen', N'123456', N'00000', 1, 1, 1)
INSERT [dbo].[User] ([Id], [RuleId], [Name], [Username], [Password], [Level], [Admin], [Ord], [Active]) VALUES (29, 2, N'Trần văn mừng', N'mung1992', N'827ccb0eea8a706c4c34a16891f84e7b', N'00000', 0, 4, 1)
INSERT [dbo].[User] ([Id], [RuleId], [Name], [Username], [Password], [Level], [Admin], [Ord], [Active]) VALUES (31, 1, N'Admin', N'admin', N'21232f297a57a5a743894a0e4a801fc3', N'00000', 0, 4, 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Enquiry_Comment] FOREIGN KEY([EnquiryId])
REFERENCES [dbo].[Enquiry] ([Id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Enquiry_Comment]
GO
ALTER TABLE [dbo].[Enquiry]  WITH CHECK ADD  CONSTRAINT [fk_Enquiry_GroupNews] FOREIGN KEY([GroupNewsId])
REFERENCES [dbo].[GroupNews] ([Id])
GO
ALTER TABLE [dbo].[Enquiry] CHECK CONSTRAINT [fk_Enquiry_GroupNews]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_GroupNews_News] FOREIGN KEY([GroupNewsId])
REFERENCES [dbo].[GroupNews] ([Id])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_GroupNews_News]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Rule] FOREIGN KEY([RuleId])
REFERENCES [dbo].[Rule] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Rule]
GO
/****** Object:  StoredProcedure [dbo].[sp_Advertise_Delete]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROC [dbo].[sp_Advertise_Delete]
  @Id int
   as
    delete Advertise where Id=@Id
    
GO
/****** Object:  StoredProcedure [dbo].[sp_Advertise_GetById]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_Advertise_GetById]
	@Id int
	as
	select * from Advertise where Id=@Id
GO
/****** Object:  StoredProcedure [dbo].[sp_Advertise_GetByTop]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Advertise_GetByTop]
  @Top nvarchar(10),
  @Where nvarchar(200),
  @OrderBy nvarchar(200)
   as
    declare @SQL as nvarchar(500)
	if len(@Top)>0
	begin
    select @SQL ='select top ('+@Top+') * from Advertise '
    end
	else
	begin
	    select @SQL ='select  * from Advertise '
	end
	if len(@Where)>0
      begin
       select @SQL=@SQL+' Where ' +@Where
      end
     if len(@OrderBy)>0
      begin
       select @SQL=@SQL+' Order by ' +@OrderBy
      end
   exec(@SQL)
GO
/****** Object:  StoredProcedure [dbo].[sp_Advertise_Insert]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Advertise_Insert]
 @Name nvarchar(500),
 @Image varchar(500),
 @Link varchar(500),
 @Target varchar (10),
 @Position int,
 @Content ntext,
 @MenuID int, 
 @Click int,
 @Ord int,
 @Active int,
 @Lang varchar(10)
 as
 insert into Advertise
   values
    (@Name,@Image,@Link,@Target,@Position,@Content,
    @MenuID,@Click,@Ord,@Active,@Lang)
    
GO
/****** Object:  StoredProcedure [dbo].[sp_Advertise_Update]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROC [dbo].[sp_Advertise_Update]
 @Id int,
 @Name nvarchar(500),
 @Image varchar(500),
 @Link varchar(500),
 @Target varchar (10),
 @Position int,
 @Content ntext,
 @MenuID int, 
   @Click int,
 @Ord int,
 @Active int,
 @Lang varchar(10)
 as
 Update Advertise
   set
    Name=@Name,[Image]=@Image,Link=@Link,[Target]=@Target,Position=@Position,Content=@Content,
    MenuID=@MenuID,Click=@Click,Ord=@Ord,Active=@Active,Lang=@Lang where Id= @Id
    
GO
/****** Object:  StoredProcedure [dbo].[sp_Comment_Delete]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Comment_Delete]
   @Id int
    as
     delete Comment where Id=@Id
GO
/****** Object:  StoredProcedure [dbo].[sp_Comment_GetByTop]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROC [dbo].[sp_Comment_GetByTop]
  @Top nvarchar(10),
  @Where nvarchar(200),
  @OrderBy nvarchar(200)
   as
     declare @SQL as nvarchar(500)
	 if len(@Top)>0
	 begin
      select @SQL='select top ('+@Top+') * from Comment'
     end
	 else
	 begin
	 select @SQL='select * from Comment'
	 end
     if len(@Where)>0
      begin
       select @SQL=@SQL+' Where ' +@Where
      end
     if len(@OrderBy)>0
      begin
       select @SQL=@SQl+' Order by '+@OrderBy
      end
      exec(@SQL)
GO
/****** Object:  StoredProcedure [dbo].[sp_Comment_Insert]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Comment_Insert]
 @EnquiryId int,
 @FullName nvarchar(50),
 @Email varchar(100),
 @Date datetime,
 @Point int,
 @Detail ntext,
 @Active int
  as
   insert into [Comment]
    values(@EnquiryId,@FullName,@Email,@Date,@Point, @Detail,@Active)
GO
/****** Object:  StoredProcedure [dbo].[sp_Comment_Paging]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_Comment_Paging]
	@CurentPage int,
	@PageSize int,
	@Where nvarchar(512),
	@Order nvarchar(256)
AS
	SET NOCOUNT ON;
	Declare @SQL as nvarchar(1000);
	Declare @strOrder as nvarchar(500);
	SELECT @SQL = 'Declare @RecordCount INT;'
	Select @strOrder = 'Id'
	if len(@Order) > 0
		BEGIN
			Select @strOrder = @Order
		END
	SELECT @SQL = @SQL + ' SELECT ROW_NUMBER() OVER(ORDER BY ' + @strOrder + ') AS RowNum,* INTO #Comment FROM [dbo].[Comment]'
	IF len(@Where) >0 
		BEGIN
			Select @SQL = @SQL + ' Where ' + @Where + ' '
		END
	Select @SQL = @SQL + ' SELECT @RecordCount = COUNT(*) FROM #Comment'
	Select @SQL = @SQL + ' SELECT @RecordCount as RecordCount,* FROM #Comment WHERE RowNum BETWEEN (' + cast(@CurentPage as nvarchar(10)) + ' - 1) * ' + cast(@PageSize as nvarchar(10)) + ' + 1 AND ' + cast(@CurentPage as nvarchar(10)) + ' * ' + cast(@PageSize as nvarchar(10))
	 Select @SQL = @SQL + 'DROP TABLE #Comment'
	EXEC (@SQL)
GO
/****** Object:  StoredProcedure [dbo].[sp_Comment_Update]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROC [dbo].[sp_Comment_Update]
 @Id int,
 @EnquiryId int,
 @FullName nvarchar(50),
 @Email varchar(100),
 @Date datetime,
 @Point int,
  @Detail ntext,
 @Active int
  as
  Update Comment
  set EnquiryId=@EnquiryId,FullName=@FullName,Email=@Email,[Date]=@Date,Point=@Point,Detail=@Detail,Active=@Active where Id=@Id
GO
/****** Object:  StoredProcedure [dbo].[sp_Config_Delete]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

   CREATE PROC [dbo].[sp_Config_Delete]
   @Id int
    as
     delete Config where Id=@Id
GO
/****** Object:  StoredProcedure [dbo].[sp_Config_GetByTop]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Config_GetByTop]
  @Top nvarchar(10),
  @Where nvarchar(200),
  @OrderBy nvarchar(200)
  as
   declare @SQL as nvarchar(500)
   if len(@Top)>0
   begin
   select @SQL ='select top ('+@Top+ ') * from Config'
   end
   else
   begin
      select @SQL ='select  * from Config'
   end
   if len (@Where)>0
    begin
      select @SQL=@SQL+' Where '+@Where
    end
    if len(@OrderBy)>0
     begin
      select @SQL=@SQL +' Order by '+@OrderBy
     end
    exec(@SQL)  
GO
/****** Object:  StoredProcedure [dbo].[sp_Config_Insert]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROC [dbo].[sp_Config_Insert]
 @Mail_Smtp varchar(64),
 @Mail_Port smallint,
 @Mail_Info varchar(64),
 @Mail_Noreply varchar(64),
  @Mail_Password varchar(64),
  @PlaceBody nvarchar(500),
  @GoogleId varchar(50),
  @Contact ntext,
  @DeliveryTerms ntext,
  @PaymentTerms ntext,
  @FreeShipping float,
  @Coppyright ntext,
  @Title nvarchar,
  @Description nvarchar(256),
  @Keyword nvarchar(256),
  @Lang varchar (5),
  @Helpsize ntext,
  @Location int
 as
 insert into Config
  values
   (@Mail_Smtp,@Mail_Port,@Mail_Info,@Mail_Noreply,@Mail_Password,@PlaceBody,@GoogleId,@Contact,@DeliveryTerms,@PaymentTerms,@FreeShipping,@Coppyright,@Title,@Description,@Keyword,@Lang,@Helpsize,@Location)
  
GO
/****** Object:  StoredProcedure [dbo].[sp_Config_Update]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROC [dbo].[sp_Config_Update]
 @Id int,
  @Mail_Smtp varchar(64),
 @Mail_Port smallint,
 @Mail_Info varchar(64),
 @Mail_Noreply varchar(64),
  @Mail_Password varchar(64),
  @PlaceBody nvarchar(500),
  @GoogleId varchar(50),
  @Contact ntext,
  @DeliveryTerms ntext,
  @PaymentTerms ntext,
  @FreeShipping float,
  @Coppyright ntext,
  @Title nvarchar,
  @Description nvarchar(256),
  @Keyword nvarchar(256),
  @Lang varchar (5),
  @Helpsize ntext,
  @Location int
 as
update Config
  set
  Mail_Smtp =@Mail_Smtp,Mail_Port=@Mail_Port,Mail_Info=@Mail_Info,Mail_Noreply=@Mail_Noreply,Mail_Password=@Mail_Password,PlaceBody=@PlaceBody,GoogleId=@GoogleId,
  Contact=@Contact,DeliveryTerms=@DeliveryTerms,PaymentTerms=@PaymentTerms,FreeShipping=@FreeShipping,Coppyright=@Coppyright,Title=@Title,[Description]=@Description,
  Keyword=@Keyword,Lang=@Lang,Helpsize=@Helpsize,Location=@Location where Id=@Id
   
GO
/****** Object:  StoredProcedure [dbo].[sp_Contact_Delete]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROC [dbo].[sp_Contact_Delete]
   @Id int
    as
     delete Contact where Id=@Id
GO
/****** Object:  StoredProcedure [dbo].[sp_Contact_GetById]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  --get by id
  create proc [dbo].[sp_Contact_GetById]
	@Id int
	as
	select * from Contact where Id=@Id
GO
/****** Object:  StoredProcedure [dbo].[sp_Contact_GetByTop]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create PROC [dbo].[sp_Contact_GetByTop]
  @Top nvarchar(10),
  @Where nvarchar(200),
  @OrderBy nvarchar(200)
  as
   declare @SQL as nvarchar(500)
   if len(@Top)>0
   begin
   select @SQL ='select top ('+@Top+ ') * from Contact'
   end
   else
   begin
      select @SQL ='select * from Contact'
   end
   if len (@Where)>0
    begin
      select @SQL=@SQL+' Where '+@Where
    end
    if len(@OrderBy)>0
     begin
      select @SQL=@SQL +' Order by '+@OrderBy
     end
    exec(@SQL)  
GO
/****** Object:  StoredProcedure [dbo].[sp_Contact_Insert]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Contact_Insert]
 @Name nvarchar(256),
 @Company nvarchar (512),
 @Address nvarchar(512),
 @Tel varchar(64),
 @Mail varchar(64),
 @Detail ntext,
 @Date datetime,
 @Active int, 
 @Lang varchar(5)
 as
 insert into[Contact]
  values
   (@Name,@Company,@Address,@Tel,@Mail,@Detail,@Date,@Active,@Lang)
GO
/****** Object:  StoredProcedure [dbo].[sp_Contact_Update]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROC [dbo].[sp_Contact_Update]
 @Id int,
 @Name nvarchar(256),
 @Company nvarchar (512),
 @Address nvarchar(512),
 @Tel varchar(64),
 @Mail varchar(64),
 @Detail ntext,
 @Date datetime,
 @Active int, 
 @Lang varchar(5)
 as
update Contact
  set
   Name=@Name,Company=@Company,[Address]=@Address,Tel=@Tel,Mail=@Mail,Detail=@Detail,[Date]=@Date,Active=@Active,Lang=@Lang where Id=@Id
   
GO
/****** Object:  StoredProcedure [dbo].[sp_Enquiry_Delete]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Enquiry_Delete]
 @Id int
  as
   Delete Enquiry 
   where Id=@Id
GO
/****** Object:  StoredProcedure [dbo].[sp_Enquiry_GetById]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--get by id
  create proc [dbo].[sp_Enquiry_GetById]
	@Id int
	as
	select * from Enquiry where Id=@Id
GO
/****** Object:  StoredProcedure [dbo].[sp_Enquiry_GetByTop]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC  [dbo].[sp_Enquiry_GetByTop]
@Top nvarchar(10),
@Where nvarchar(200),
@OrderBy nvarchar(200)
as
declare @SQl as nvarchar(500)
if len(@Top)>0
 begin
  select @SQL= 'select top ('+@Top+') * from Enquiry'
 end
else
begin
select @SQL= 'select  * from Enquiry'
end
if len (@Where)> 0
 begin
  select @SQL =@SQL+' where '+@Where
 end
if len(@OrderBy)>0
 begin
  select @SQL=@SQL+' Order By ' +@OrderBy
 end
 exec (@SQL) 
GO
/****** Object:  StoredProcedure [dbo].[sp_Enquiry_Insert]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Enquiry_Insert] 
 @GroupNewsId int,
 @Name nvarchar(200),
 @Tag nvarchar(500),
 @Email nvarchar(300),
 @NameEnquiry nvarchar(500),
 @Content nvarchar(500),
 @Detail ntext,
 @Image nvarchar(500),
 @Date datetime,
 @NumberView int,
 @Active int
 as
  insert into Enquiry 
   values(@GroupNewsId,@Name,@Tag,@Email,@NameEnquiry,@Content,@Detail,@Image,@Date,@NumberView,@Active)
GO
/****** Object:  StoredProcedure [dbo].[sp_Enquiry_Paging]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Enquiry_Paging]
	@CurentPage int,
	@PageSize int,
	@Where nvarchar(512),
	@Order nvarchar(256)
AS
	SET NOCOUNT ON;
	Declare @SQL as nvarchar(1000);
	Declare @strOrder as nvarchar(500);
	SELECT @SQL = 'Declare @RecordCount INT;'
	Select @strOrder = 'Id'
	if len(@Order) > 0
		BEGIN
			Select @strOrder = @Order
		END
	SELECT @SQL = @SQL + ' SELECT ROW_NUMBER() OVER(ORDER BY ' + @strOrder + ') AS RowNum,* INTO #Enquiry FROM [dbo].[Enquiry]'
	IF len(@Where) >0 
		BEGIN
			Select @SQL = @SQL + ' Where ' + @Where + ' '
		END
	Select @SQL = @SQL + ' SELECT @RecordCount = COUNT(*) FROM #Enquiry'
	Select @SQL = @SQL + ' SELECT @RecordCount as RecordCount,* FROM #Enquiry WHERE RowNum BETWEEN (' + cast(@CurentPage as nvarchar(10)) + ' - 1) * ' + cast(@PageSize as nvarchar(10)) + ' + 1 AND ' + cast(@CurentPage as nvarchar(10)) + ' * ' + cast(@PageSize as nvarchar(10))
	 Select @SQL = @SQL + 'DROP TABLE #Enquiry'
	EXEC (@SQL)

GO
/****** Object:  StoredProcedure [dbo].[sp_Enquiry_Update]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Enquiry_Update]
 @Id int,
 @GroupNewsId int,
 @Name nvarchar(200),
 @Tag nvarchar(500),
 @Email nvarchar(300),
 @NameEnquiry nvarchar(500),
 @Content nvarchar(500),
 @Detail ntext,
 @Image nvarchar(500),
 @Date datetime,
 @NumberView int,
 @Active int
 as
  update  Enquiry 
   set GroupNewsId=@GroupNewsId,Name=@Name,Tag=@Tag,Email=@Email,NameEnquiry=@NameEnquiry,Content=@Content,Detail=@Detail,[Date]=@Date,[Image]=@Image,NumberView=@NumberView,Active=@Active where Id=@Id
 --delete
GO
/****** Object:  StoredProcedure [dbo].[sp_Enquiry_Update_Active]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_Enquiry_Update_Active]
@Id nvarchar(300)
as
Update Enquiry
set [Active] =1 where Id =@Id
GO
/****** Object:  StoredProcedure [dbo].[sp_Enquiry_Update_Click]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_Enquiry_Update_Click]
@Tag nvarchar(300)
as
Update Enquiry
set NumberView =NumberView+1 where Tag =@Tag
GO
/****** Object:  StoredProcedure [dbo].[sp_GroupNews_Delete]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--xóa
CREATE PROC [dbo].[sp_GroupNews_Delete]
  @Id int
AS
	DELETE FROM GroupNews
	 WHERE Id = @Id
GO
/****** Object:  StoredProcedure [dbo].[sp_GroupNews_GetById]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_GroupNews_GetById]
	@Id int
	as
	select * from GroupNews where Id=@Id
GO
/****** Object:  StoredProcedure [dbo].[sp_GroupNews_GetByTop]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_GroupNews_GetByTop]
@Top nvarchar(10),
@Where nvarchar(200),
@OrderBy nvarchar(200)
As
 Declare @SQL as nvarchar(500)
 if len(@Top)>0
  begin
   Select @SQL ='select top ('+@Top+') * from GroupNews'
  end
  else
  begin
   Select @SQL ='select * from GroupNews'
  end
   if len (@Where)>0
    Begin
     select @SQL =@SQL+' Where ' +@Where
    End
    if len(@OrderBy) >0
     Begin
      select @SQL =@SQL+' Order by '+@OrderBy
     End
    Exec (@SQL)
GO
/****** Object:  StoredProcedure [dbo].[sp_GroupNews_Insert]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GroupNews_Insert] 
  @Name  nvarchar(250),
  @Level  varchar(50),
  @Title  nvarchar(500), 
  @Tag nvarchar(500), 
  @Description  nvarchar(500),
  @Keyword  nvarchar(500),
  @Position int,
  @Ord  int,
  @Index  int ,
  @Priority int,
  @Active  int,
  @Lang varchar(10)AS     INSERT INTO 
   GroupNews(Name, [Level], Title, Tag,[Description], Keyword,Position, Ord,[Index],[Priority],Active,Lang) 
     VALUES
     (@Name, @Level, @Title,@Tag, @Description, @Keyword,@Position, @Ord,@Index, @Priority, @Active ,@Lang)
GO
/****** Object:  StoredProcedure [dbo].[sp_GroupNews_Update]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GroupNews_Update]
  @Id  int, 
  @Name  nvarchar(250),
  @Level  varchar(50),
  @Tag nvarchar(500),
  @Title  nvarchar(500), 
  @Description  nvarchar(500),
  @Keyword  nvarchar(500),
  @Position int,
  @Ord  int,
  @Index  int ,
  @Priority int,
  @Active  int,
  @Lang varchar(10)
  AS UPDATE GroupNews
  SET 
    [Name] = @Name, [Level] = @Level, [Title] = @Title,Tag=@Tag, [Description] = @Description, [Keyword] = @Keyword,
    Position = @Position, Ord=@Ord,[Index]=@Index,[Priority]= @Priority,Active =@Active,Lang=@Lang
   WHERE Id = @Id
--xóa
GO
/****** Object:  StoredProcedure [dbo].[sp_GroupProduct_Delete]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  create proc [dbo].[sp_GroupProduct_Delete]
   @Id int
   as
    delete GroupProduct where Id=@Id
GO
/****** Object:  StoredProcedure [dbo].[sp_GroupProduct_GetById]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_GroupProduct_GetById]
	@Id int
	as
	select * from GroupProduct where Id=@Id
GO
/****** Object:  StoredProcedure [dbo].[sp_GroupProduct_GetByTop]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GroupProduct_GetByTop]
 @Top nvarchar(10),
 @Where nvarchar(200),
 @OrderBy nvarchar(200) 
 as
  declare @SQL as nvarchar(500)
   if len(@Top)>0
   begin
   select @SQL ='select top ('+@Top+') * from GroupProduct'
   end
   else
     begin
	  select @SQL ='select  * from GroupProduct'
	 end
   if len(@Where)>0
    Begin
     select @SQL=@SQL+' Where '+@Where
     end
    if len(@OrderBy)>0
     begin
     select @SQL =@SQL+' Order by ' +@OrderBy
     end
     exec (@SQL)
GO
/****** Object:  StoredProcedure [dbo].[sp_GroupProduct_Insert]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_GroupProduct_Insert]
@Name nvarchar(500),
@Level nchar(50),
@Title nvarchar(500),
@Description nvarchar(500),
@KeyWord nvarchar(500),
@Position int,
@Ord int, 
@Index int,
@Priority int,
@Active int,
@Lang varchar(10)
 as
  insert into GroupProduct 
 values
  ( @Name,@Level ,@Title,@Description ,@KeyWord,@Position,@Ord,@Index,@Priority,@Active,@Lang)
  ----sửa--
GO
/****** Object:  StoredProcedure [dbo].[sp_GroupProduct_Update]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROC [dbo].[sp_GroupProduct_Update]
  @Id int,
  @Name nvarchar(500),
  @Level nchar(50),
  @Title nvarchar(500),
  @Description nvarchar(500),
  @KeyWord nvarchar(500),
  @Position int,
  @Ord int, 
  @Index int,
  @Priority int,
  @Active int,
  @Lang varchar(10)
  as
  Update GroupProduct
  set
      Name = @Name ,[Level]= @Level, Title= @Title, [Description]= @Description, KeyWord= @KeyWord,
      Position= @Position, Ord= @Ord, [Index]= @Index ,Priority=  @Priority ,Active= @Active, Lang= @Lang
  where Id=@Id 
GO
/****** Object:  StoredProcedure [dbo].[sp_Language_Delete]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

   --xóa
   CREATE PROC [dbo].[sp_Language_Delete]
   @Id int
    as
     delete Language where Id=@Id
GO
/****** Object:  StoredProcedure [dbo].[sp_Language_GetById]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 	  --get by id
  create proc [dbo].[sp_Language_GetById]
	@Id int
	as
	select * from [Language] where Id=@Id
GO
/****** Object:  StoredProcedure [dbo].[sp_Language_GetByTop]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Language_GetByTop]
  @Top nvarchar(10),
  @Where nvarchar(200),
  @OrderBy nvarchar(200)
  as
   declare @SQL as nvarchar(500)
   if len(@Top)>0
   begin
   select @SQL ='select top ('+@Top+ ') * from [Language]'
   end
   else
   begin
      select @SQL ='select  * from [Language]'
   end
   if len (@Where)>0
    begin
      select @SQL=@SQL+' Where '+@Where
    end
    if len(@OrderBy)>0
     begin
      select @SQL=@SQL +' Order by '+@OrderBy
     end
    exec(@SQL)  
GO
/****** Object:  StoredProcedure [dbo].[sp_Language_Insert]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROC [dbo].[sp_Language_Insert]
 @Name nvarchar(256),
 @Folder varchar(100),
 @Default int,
 @Image varchar(500),
 @Active int
 as
 insert into Language
  values
   (@Name,@Folder,@Default,@Image,@Active)
GO
/****** Object:  StoredProcedure [dbo].[sp_Language_Update]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROC [dbo].[sp_Language_Update]
 @Id int,
 @Name nvarchar(256),
 @Folder varchar(100),
 @Default int,
 @Image varchar(500),
 @Active int
 as
update Language
  set
  Name=@Name,Folder=@Folder,[Default]=@Default,[Image]=@Image, Active=@Active where Id=@Id
   
GO
/****** Object:  StoredProcedure [dbo].[sp_Link_Delete]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Link_Delete]
    @Id int
    as
     delete Link where Id=@Id
GO
/****** Object:  StoredProcedure [dbo].[sp_Link_GetById]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_Link_GetById]
	@Id int
	as
	select * from Link where Id=@Id
GO
/****** Object:  StoredProcedure [dbo].[sp_Link_GetByTop]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Link_GetByTop]
   @Top nvarchar(10),
   @Where nvarchar(200),
   @OrderBy nvarchar(200)
   as
    declare @SQL as nvarchar(500)
	if len(@Top)>0
	 begin
     select @SQL ='select top ('+@Top+') * from Link'
    end
	else
	begin
	     select @SQL ='select * from Link'
	end
    if len(@Where)>0
     begin 
       select @SQL= @SQL+' Where ' +@Where
     end
    if len(@OrderBy)>0
      begin 
        select @SQL=@SQL +' Order by '+@OrderBy
       end
  exec (@SQL)
GO
/****** Object:  StoredProcedure [dbo].[sp_Link_Insert]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Link_Insert]
 @Name nvarchar(500),
 @Link varchar(500),
 @Type int,
 @Ord int,
 @Active int,
  @Lang varchar(10)
  as
    insert into [Link]
     values(@Name,@Link,@Type,@Ord,@Active,@Lang)
GO
/****** Object:  StoredProcedure [dbo].[sp_Link_Update]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROC [dbo].[sp_Link_Update]
 @Id int,
 @Name nvarchar(500),
 @Link varchar(500),
 @Type int,
 @Ord int,
 @Active int,
 @Lang varchar(10)
  as
   Update Link
    set Name=@Name,Link=@Link,[Type]=@Type,Ord=@Ord,Active=@Active,Lang=@Lang
 --delete
GO
/****** Object:  StoredProcedure [dbo].[sp_Menu_Delete]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Menu_Delete]
    @Id NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM dbo.Menu
    WHERE Id = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Menu_GetById]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Menu_GetById]
    @Id NVARCHAR(50)   -- đổi thành INT nếu Id là INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        Id, Name, Tag, Content, Detail, [Level], Title, [Type], Description,
        KeyWord, [Index], Target, Position, Ord, [Link], Active, Lang
    FROM dbo.Menu
    WHERE Id = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Menu_GetByTop]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Menu_GetByTop]
    @Top   NVARCHAR(10),
    @Where NVARCHAR(MAX),
    @Order NVARCHAR(400)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sql NVARCHAR(MAX) =
        N'SELECT ' +
        CASE WHEN @Top IS NULL OR LTRIM(RTRIM(@Top)) = '' THEN N'' ELSE N'TOP (' + @Top + N') ' END +
        N'Id, Name, Tag, Content, Detail, [Level], Title, [Type], Description, KeyWord, [Index], Target, Position, Ord, [Link], Active, Lang
          FROM dbo.Menu';

    IF @Where IS NOT NULL AND LTRIM(RTRIM(@Where)) <> ''
        SET @sql += N' WHERE ' + @Where;

    IF @Order IS NOT NULL AND LTRIM(RTRIM(@Order)) <> ''
        SET @sql += N' ORDER BY ' + @Order;

    EXEC sp_executesql @sql;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Menu_Insert]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Menu_Insert]
    @Name NVARCHAR(255),
    @Tag NVARCHAR(255),
    @Content NVARCHAR(MAX),
    @Detail NVARCHAR(MAX),
    @Level NVARCHAR(50),
    @Title NVARCHAR(255),
    @Type NVARCHAR(50),
    @Description NVARCHAR(500),
    @KeyWord NVARCHAR(255),
    @Index NVARCHAR(50),
    @Target NVARCHAR(50),
    @Position NVARCHAR(50),
    @Ord NVARCHAR(50),
    @Link NVARCHAR(500),
    @Active NVARCHAR(10),
    @Lang NVARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Menu
    (
        Name, Tag, Content, Detail, [Level], Title, [Type], Description,
        KeyWord, [Index], Target, Position, Ord, [Link], Active, Lang
    )
    VALUES
    (
        @Name, @Tag, @Content, @Detail, @Level, @Title, @Type, @Description,
        @KeyWord, @Index, @Target, @Position, @Ord, @Link, @Active, @Lang
    );
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Menu_Update]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Menu_Update]
    @Id NVARCHAR(50),
    @Name NVARCHAR(255),
    @Tag NVARCHAR(255),
    @Content NVARCHAR(MAX),
    @Detail NVARCHAR(MAX),
    @Level NVARCHAR(50),
    @Title NVARCHAR(255),
    @Type NVARCHAR(50),
    @Description NVARCHAR(500),
    @KeyWord NVARCHAR(255),
    @Index NVARCHAR(50),
    @Target NVARCHAR(50),
    @Position NVARCHAR(50),
    @Ord NVARCHAR(50),
    @Link NVARCHAR(500),
    @Active NVARCHAR(10),
    @Lang NVARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Menu
    SET
        Name = @Name,
        Tag = @Tag,
        Content = @Content,
        Detail = @Detail,
        [Level] = @Level,
        Title = @Title,
        [Type] = @Type,
        Description = @Description,
        KeyWord = @KeyWord,
        [Index] = @Index,
        Target = @Target,
        Position = @Position,
        Ord = @Ord,
        [Link] = @Link,
        Active = @Active,
        Lang = @Lang
    WHERE Id = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_News_Delete]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_News_Delete]
 @Id int
  as
   Delete News 
   where Id=@Id
GO
/****** Object:  StoredProcedure [dbo].[sp_News_Get_Name_GroupNews]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc  [dbo].[sp_News_Get_Name_GroupNews]
@Tag  nvarchar(1000)
as
declare @SQL nvarchar(1000)
if len(@Tag)>0 
begin
select @SQL='select GroupNews.Name from GroupNews ,News where Tag='+@Tag+' and GroupNews.Id=News.GroupNewsId'
end
exec(@SQL)
GO
/****** Object:  StoredProcedure [dbo].[sp_News_Get_UserName]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_News_Get_UserName]
as
select  n.Id,n.Name,n.GroupNewsId,n.Tag,n.Title,n.Content,n.[Image],n.[Description],n.KeyWord,
n.Detail,n.[Date],n.[Index],n.[Priority],n.Active,n.Lang,u.Name [UserId] from News n,[User] u where n.UserId=u.Id
GO
/****** Object:  StoredProcedure [dbo].[sp_News_GetById]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE proc [dbo].[sp_News_GetById]
	@Id int
	as
	select * from News where Id=@Id
GO
/****** Object:  StoredProcedure [dbo].[sp_News_GetByTop]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_News_GetByTop]
@Top nvarchar(10),
@Where nvarchar(200),
@OrderBy nvarchar(200)
as
declare @SQl as nvarchar(500)
if len(@Top)>0
 begin
  select @SQL= 'select top ('+@Top+') * from News'
 end
else
begin
select @SQL= 'select  * from News'
end
if len (@Where)> 0
 begin
  select @SQL =@SQL+' where '+@Where
 end
if len(@OrderBy)>0
 begin
  select @SQL=@SQL+' Order By ' +@OrderBy
 end
 exec (@SQL) 
GO
/****** Object:  StoredProcedure [dbo].[sp_News_GetNameGroupNews]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROC   [dbo].[sp_News_GetNameGroupNews] 

@Tag nvarchar(200)

as
declare @SQl as nvarchar(500)

if len (@Tag)> 0
 begin
  select @SQL ='select gn.*  from GroupNews gn ,News  where News.GroupNewsId=gn.Id and News.Tag= '
  select @SQL+=''+@Tag+''
 end
 exec (@SQL) 
GO
/****** Object:  StoredProcedure [dbo].[sp_News_Insert]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_News_Insert] 
 @Name nvarchar(500),
 @GroupNewsId int, 
 @Tag nvarchar(300),
 @Title nvarchar(500),
  @Content nvarchar(300),
 @Image varchar(256),
 @Description nvarchar(500),
 @KeyWord nvarchar(500),
 @Detail ntext,
 @Date datetime,
 @Index int,
 @Priority int,
 @Active int,
 @Lang nchar(10),
 @UserId int
 as
  insert into News 
   values(@Name,@GroupNewsId,@Tag,@Title,@Content,@Image,@Description,@KeyWord,@Detail,@Date,@Index,@Priority,@Active,@Lang, @UserId)
GO
/****** Object:  StoredProcedure [dbo].[sp_News_Paging]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[sp_News_Paging]
	@CurentPage int,
	@PageSize int,
	@Where nvarchar(512),
	@Order nvarchar(256)
AS
	SET NOCOUNT ON;
	Declare @SQL as nvarchar(1000);
	Declare @strOrder as nvarchar(500);
	SELECT @SQL = 'Declare @RecordCount INT;'
	Select @strOrder = 'Id'
	if len(@Order) > 0
		BEGIN
			Select @strOrder = @Order
		END
	SELECT @SQL = @SQL + ' SELECT ROW_NUMBER() OVER(ORDER BY ' + @strOrder + ') AS RowNum,* INTO #News FROM [dbo].[News]'
	IF len(@Where) >0 
		BEGIN
			Select @SQL = @SQL + ' Where ' + @Where + ' '
		END
	Select @SQL = @SQL + ' SELECT @RecordCount = COUNT(*) FROM #News'
	Select @SQL = @SQL + ' SELECT @RecordCount as RecordCount,* FROM #News WHERE RowNum BETWEEN (' + cast(@CurentPage as nvarchar(10)) + ' - 1) * ' + cast(@PageSize as nvarchar(10)) + ' + 1 AND ' + cast(@CurentPage as nvarchar(10)) + ' * ' + cast(@PageSize as nvarchar(10))
	 Select @SQL = @SQL + 'DROP TABLE #News'
	EXEC (@SQL)
GO
/****** Object:  StoredProcedure [dbo].[sp_News_Update]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_News_Update]
 @Id int,
 @Name nvarchar(500),
 @GroupNewsId int, 
 @Tag nvarchar(300),
 @Title nvarchar(500),
 @Content nvarchar(300),
 @Image varchar(256),
 @Description nvarchar(500),
 @KeyWord nvarchar(500),
 @Detail ntext,
 @Date datetime,
 @Index int,
 @Priority int,
  @Active int,
 @Lang nchar(10),
  @UserId int
 as
  Update News 
   set
  Name =@Name,GroupNewsId=@GroupNewsId,Tag=@Tag,Title=@Title,[Image]=@Image,Content=@Content,[Description]=@Description,KeyWord=@KeyWord,Detail=@Detail,[Date]=@Date,[Index]=@Index,[Priority]=@Priority,Active=@Active,Lang=@Lang, UserId = @UserId
   where Id=@Id
GO
/****** Object:  StoredProcedure [dbo].[sp_News_Update_Click]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_News_Update_Click]
@Tag nvarchar(300)
as
Update News
set [Index] =[Index]+1 where Tag =@Tag
GO
/****** Object:  StoredProcedure [dbo].[sp_Product_Delete]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Product_Delete]
@Id int
as
 delete Product
  where Id=@Id
GO
/****** Object:  StoredProcedure [dbo].[sp_Product_GetById]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_Product_GetById]
	@Id int
	as
	select * from Product where Id=@Id
GO
/****** Object:  StoredProcedure [dbo].[sp_Product_GetByTop]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Product_GetByTop]
@Top nvarchar(10),
@Where nvarchar(200),
@OrderBy nvarchar(200)
as
 declare @SQL  as nvarchar (500)
 if len(@Top)>0
 begin
 select @SQL ='select top('+@Top+') * from Product'
 end
 else
 begin
 select @SQL ='select  * from Product'
 end
 if len(@Where)>0
  begin
   select @SQL=@SQL+' Where '+@Where
  end
 if len(@OrderBy)>0
  begin 
   select  @SQL=@SQL+' Order by ' +@OrderBy 
  end
  exec(@SQL)
GO
/****** Object:  StoredProcedure [dbo].[sp_Product_Insert]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Product_Insert]
 @Tag nvarchar(300),
 @GroupProductID int, 
 @Name nvarchar(300),
 @Image varchar(500),
 @Title nvarchar(500),
 @Description nvarchar(500),
 @KeyWord nvarchar(500),
 @Sum ntext,
 @Detail ntext,
 @Date datetime,
 @Priority int,
 @Price float,
 @PriceNew float,
 @Lang nchar(5),
 @Ord int,
 @Active int 
 as
   insert into Product
    values ( @Tag,@GroupProductID,@Name,@Title,@Image,@Description,
    @KeyWord,@Sum,@Detail,@Date,@Priority, @Price,@PriceNew,@Lang,@Ord,@Active) 
GO
/****** Object:  StoredProcedure [dbo].[sp_Product_Update]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Product_Update]
 @Id int,
 @Tag nvarchar(300),
 @GroupProductID int, 
 @Name nvarchar(300),
 @Image varchar(500),
 @Title nvarchar(500),
 @Description nvarchar(500),
 @KeyWord nvarchar(500),
 @Sum ntext,
 @Detail ntext,
 @Date datetime,
 @Priority int,
 @Price float,
 @PriceNew float,
 @Lang nchar(5),
 @Ord int,
 @Active int 
 as
   Update Product
    set Tag=@Tag,GroupProductID=@GroupProductID,Name=@Name,Title=@Title,[Image]=@Image,[Description]=@Description,
    KeyWord=@KeyWord,[Sum]=@Sum,Detail=@Detail,[Date]=@Date,Priority=@Priority, Price=@Price,PriceNew=@PriceNew,Lang=@Lang,Ord=@Ord,Active=@Active
    where Id=@Id 
GO
/****** Object:  StoredProcedure [dbo].[sp_Rule_Delete]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Rule_Delete]
@Id int
 as
  delete [Rule] where Id=@Id
GO
/****** Object:  StoredProcedure [dbo].[sp_Rule_GetById]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create proc [dbo].[sp_Rule_GetById]
	@Id int
	as
	select * from [Rule] where Id=@Id
GO
/****** Object:  StoredProcedure [dbo].[sp_Rule_GetByTop]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Rule_GetByTop]
@Top nvarchar(10),
@Where nvarchar(200),
@OrderBy nvarchar(200)
as
 declare @SQL as nvarchar(500)
 if len(@Top)>0
 begin
 select @SQL='select top ('+@Top+') * from [Rule]'
 end
 else
 begin
  select @SQL='select  * from [Rule]'
 end
 if len(@Where)>0
   begin
    select @SQL=@SQL+' Where '+@Where
   end
  if len(@OrderBy) >0
    begin
     select @SQL =@SQL+' Order by '+@OrderBy
     end
    exec(@SQL)
GO
/****** Object:  StoredProcedure [dbo].[sp_Rule_Insert]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_Rule_Insert]
@Name nvarchar(250),
@Description varchar(50)
as
 insert into [Rule]
 values (@Name,@Description)
GO
/****** Object:  StoredProcedure [dbo].[sp_Rule_Update]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROC [dbo].[sp_Rule_Update]
@Id int,
@Name nvarchar(250),
@Description varchar(50)
as
 Update [Rule]
 set Name=@Name,[Description]=@Description where Id=@Id
GO
/****** Object:  StoredProcedure [dbo].[sp_Support_Delete]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

   CREATE PROC [dbo].[sp_Support_Delete]
   @Id int
    as
     delete Support where Id=@Id
     
  --get by top
GO
/****** Object:  StoredProcedure [dbo].[sp_Support_GetById]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	  --get by id
  create proc [dbo].[sp_Support_GetById]
	@Id int
	as
	select * from Support where Id=@Id
GO
/****** Object:  StoredProcedure [dbo].[sp_Support_GetByTop]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Support_GetByTop]
  @Top nvarchar(10),
  @Where nvarchar(200),
  @OrderBy nvarchar(200)
  as
   declare @SQL as nvarchar(500)
   if len(@Top) >0
   begin
   select @SQL ='select top ('+@Top+ ') * from Support'
   end
   else
   begin
     select @SQL ='select top * from Support'
   end
   if len (@Where)>0
    begin
      select @SQL=@SQL+' Where '+@Where
    end
    if len(@OrderBy)>0
     begin
      select @SQL=@SQL +' Order by '+@OrderBy
     end
    exec(@SQL)  
GO
/****** Object:  StoredProcedure [dbo].[sp_Support_Insert]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROC [dbo].[sp_Support_Insert]
 @Name nvarchar(256),
 @Tel varchar(64),
 @Type int,
 @Nick varchar(128),
 @Ord int,
 @Active int,
 @Lang varchar(5),
 @Location int
 as
 insert into Support
  values
   (@Name,@Tel,@Type,@Nick,@Ord,@Active,@Lang,@Location)
  
GO
/****** Object:  StoredProcedure [dbo].[sp_Support_Update]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROC [dbo].[sp_Support_Update]
 @Id int,
 @Name nvarchar(256),
 @Tel varchar(64),
 @Type int,
 @Nick varchar(128),
 @Ord int,
 @Active int,
 @Lang varchar(5),
 @Location int
 as
update Support
  set
   Name=@Name,Tel=@Tel,[Type]=@Type,Nick=@Nick,Ord=@Ord,Active=@Active,Lang=@Lang,Location=@Location where Id=@Id
   
   --xóa
GO
/****** Object:  StoredProcedure [dbo].[sp_User_Delete]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_User_Delete]
@Id int
 as
  delete [User] where Id=@Id
GO
/****** Object:  StoredProcedure [dbo].[sp_User_GetBy_Top]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_User_GetBy_Top]
@Top nvarchar(10),
@Where nvarchar(200),
@OrderBy nvarchar(200)
as
 declare @SQL as nvarchar(500)
 if len(@Top)>0
 begin
 select @SQL='select top ('+@Top+') * from [User]'
 end
 else
 begin
  select @SQL='select  * from [User]'
 end
 if len(@Where)>0
   begin
    select @SQL=@SQL+' Where '+@Where
   end
  if len(@OrderBy) >0
    begin
     select @SQL =@SQL+' Order by '+@OrderBy 
     end
    exec(@SQL) 
GO
/****** Object:  StoredProcedure [dbo].[sp_User_GetById]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_User_GetById]
	@Id int
	as
	select * from [User] where Id=@Id
GO
/****** Object:  StoredProcedure [dbo].[sp_User_GetByTop]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_User_GetByTop]
@Top nvarchar(10),
@Where nvarchar(200),
@OrderBy nvarchar(200)
as
 declare @SQL as nvarchar(500)
 if len(@Top)>0
 begin
 select @SQL='select top ('+@Top+') * from [User]'
 end
 else
 begin
  select @SQL='select  * from [User]'
 end
 if len(@Where)>0
   begin
    select @SQL=@SQL+'Where'+@Where
   end
  if len(@OrderBy) >0
    begin
     select @SQL =@SQL+'Order by'+@OrderBy
     end
    exec(@SQL)  
GO
/****** Object:  StoredProcedure [dbo].[sp_User_Insert]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_User_Insert]
@RuleId int,
@Name nvarchar(500),
@Username varchar(70),
@PassWord varchar(70),
@Level varchar(50),
@Admin int, 
@Ord int,
@Active int
as
 insert into [User]
 values (@RuleId,@Name,@Username,@PassWord,@Level,@Admin,@Ord,@Active)
GO
/****** Object:  StoredProcedure [dbo].[sp_User_Update]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_User_Update]
@RuleId int,
@Id int,
@Name nvarchar(500),
@Username varchar(70),
@PassWord varchar(70),
@Level varchar(50),
@Admin int, 
@Ord int,
@Active int
as
 Update [User]
 set RuleId=@RuleId,Name=@Name,Username=@Username,[PassWord]=@PassWord,[Level]=@Level,[Admin]=@Admin,Ord=@Ord,Active=@Active where Id=@Id
 
GO
/****** Object:  StoredProcedure [dbo].[sp_Vung_Delete]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

   CREATE PROC [dbo].[sp_Vung_Delete]
   @Id int
    as
     delete Vung where Id=@Id
GO
/****** Object:  StoredProcedure [dbo].[sp_Vung_GetById]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--get by id
  create proc [dbo].[sp_Vung_GetById]
	@Id int
	as
	select * from Vung where Id=@Id
GO
/****** Object:  StoredProcedure [dbo].[sp_Vung_GetByTop]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROC [dbo].[sp_Vung_GetByTop]
  @Top nvarchar(10),
  @Where nvarchar(200),
  @OrderBy nvarchar(200)
  as
   declare @SQL as nvarchar(500)
   if len(@Top)>0
   begin
   select @SQL ='select top ('+@Top+ ') * from Vung'
   end
   else
   begin
      select @SQL ='select top  * from Vung'
   end
   if len (@Where)>0
    begin
      select @SQL=@SQL+' Where '+@Where
    end
    if len(@OrderBy)>0
     begin
      select @SQL=@SQL +' Order by '+@OrderBy
     end
    exec(@SQL)  
GO
/****** Object:  StoredProcedure [dbo].[sp_Vung_Insert]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROC [dbo].[sp_Vung_Insert]
  @Name nvarchar(50),
  @Level nvarchar(50),
  @Ord int
 as
 insert into Vung
  values
   (@Name,@Level,@Ord)
GO
/****** Object:  StoredProcedure [dbo].[sp_Vung_Update]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROC [dbo].[sp_Vung_Update]
 @Id int,
  @Name nvarchar(50),
  @Level nvarchar(50),
  @Ord int
 as
update Vung
  set
  Name=@Name,[Level]=@Level,Ord=@Ord where Id=@Id
   
GO
/****** Object:  StoredProcedure [dbo].[thongke]    Script Date: 10/22/2025 11:16:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc  [dbo].[thongke] 
@Tungay datetime,
@Denngay datetime
as

select u.Name,u.Username, count(n.Id) Sobaidang  from News n, [User] u
where u.Id=n.UserId and n.Active=1 and  [Date]>=@Tungay and [Date]<=@Denngay group by u.Name,u.Username
GO
