*                               {margin: 0px; padding: 0px;}
body                            {font-family: Arial;background: #ffffff}
a                               {text-decoration: none;}
ul                              {list-style:none;}
#wrapper                        {width: 1000px; margin: 0px auto;}
#header .banner                 {width: 1000px; height: 120px; overflow: hidden; clear: both}
#header .banner img             { width: 1000px; border: 0;}
#header #topnav                 {width:100%;}
#banner                         {}
/*menu top*/
#topnav ul                      {background: url(img/bg_topnav.png) repeat-x top left; height:38px;}
#topnav ul li                   {display: inline;}
#topnav ul li a                 {display: block; float: left; color: White;background: transparent url(img/border_topnav.png) right 50% no-repeat; font-weight: bold; font-size: 12px; padding-right: 15px; padding-left: 15px; height: 38px; line-height: 20px;}
#topnav ul li a:hover           {text-decoration: underline; color: #f3c435;}
/*end menu top*/

/*contents*/
#contents                       {}
/*menubar*/
#left_contents #dv_menubar_left {width:204px;}
.dv_top                         {width: 233px; height:29px; background: url(img/bg-head-right.jpg) no-repeat top left; text-align: center;}
.dv_top span                    {width: 233px; font-weight: bold; font-size: 12px; color: White; line-height: 29px; text-align: center; text-transform: uppercase;}                     
.dv_middle                      {width: 234px; margin-bottom: 10px}
.dv_middle ul                   {width: 234px; background: #ff49d2;}
.dv_middle ul li                {width: 217px; padding: 0 5px 0 12px; height:25px; border-bottom: 1px solid #ffffff}
.dv_middle ul li a              {color: #ffffff; line-height: 28px; font-family: Arial; font-size: 12px; background: url(img/ico-men.jpg) no-repeat left; padding-left: 8px; font-weight: bold;}
.dv_middle ul li a:hover        { text-decoration: underline}


/*online support*/
#dv_topsupport                  {position:relative;}
#dv_new                         {position:absolute;top:5px;left:120px;}
#dv_new img                     {width: 33px;}
.dv_top1                        {width: 204px;height:30px;background: url(img/bg_top1.png) no-repeat top left;}
.dv_top1 span                   {width: 170px; padding-left: 10px;font-weight: bold; font-size: 12px; color: White;line-height: 29px;}                     
.dv_middle1                     {width: 231px; border: 1px solid #ffb1eb; margin-bottom: 10px; padding: 10px 0;}
.dv_middle1 table               {width: 204px;}
.dv_middle1 table tr td         {padding: 5px 0px 10px 0px;}
.dv_middle1 .dv_tuvan           {font-size: 12px;}
.dv_middle1 .dv_tuvan img       {border: none;}
.dv_middle1 .dv_tuvan a         {font-weight:bold; font-size: 11px;color: Black;}
.dv_middle1 .dv_tuvan span      {font-size: 12px;color: Red;}


/*deliver*/
#dv_deliver h5                  {padding-left: 10px; padding-top: 5px;}
#dv_deliver p                   {padding-left: 15px; font-size: 13px; padding-top: 5px;}
#dv_deliver .h_contents         {color: Red; padding-left: 15px;}
#dv_search_refer                {margin-top: 20px;}
#dv_search_refer table          {width: 190px;margin: 0px auto;}
#dv_search_refer table td .ddl_province         {border: 1px solid #acadb2; width: 160px;}
#dv_search_refer table td .css_btnsearch        {margin-left: 2px; margin-top: 0px;}

/*website link*/
#dv_link .dv_link_img table     {width: 190px; margin: 0px auto;}
#dv_link .dv_link_img table td  {padding: 0px;}
#dv_link .dv_link_img img       {width: 90px; border: none;}

/*center contents*/
#center_contents                {float: left; width: 757px; margin-top: 5px;}

/*right_contents*/
#right_contents                 {float: right; width: 233px; margin-top: 5px;}
.box_right                      {width:233px; float: right;}

/*search key word*/
.dv_middle2                     {width: 231px; border: 1px solid #ffb1eb; margin-bottom: 10px}
#dv_textbox                     {width: 190px; border: 1px solid #7e9eb7; margin: 5px 18px; background: white; margin-bottom: 10px; height: 20px}
#dv_textbox #ctl00_My_U_SearchPrice1_txtkeyword    {height: 17px; width: 165px; border: 0}
#dv_textbox #ctl00_My_U_SearchPrice1_imgbtn        {width: 20px; height: 17px;}

/*search price*/
.dv_top2                        {width: 204px;height:30px;background: url(img/bg_top_right.png) no-repeat top left;}
.dv_top2 span                   {width: 170px; padding-left: 10px;font-weight: bold; font-size: 12px; color: White;line-height: 29px;}                     
#dv_list_search                 {font-size: 12px; font-weight: bold;}
#dv_list_search table           {width: 170px; margin: 0px auto;}
#dv_list_search table td        {padding-top: 7px;}
#dv_list_search table td label  {padding-left: 5px;}
.css_btnsearchprice             {padding: 2px 2px 2px 2px; width: 80px; margin-left: 20px; margin-top: 5px;}

/*promotion*/
#dv_promotion .dv_km_img        { width: 190px; margin: 0px auto;}
#dv_promotion .dv_km_img img    { border: 0; width: 214px; padding: 2px;}
#dv_promotion .dv_km_price      { text-align: center; font-weight:bold; color: Red; font-size: 13px; padding: 5px 0px 10px 5px;}
.clear                          { clear: both;}


/*advertise right*/
#dv_image_up                    {height: 600px;}
#dv_adv .dv_km_img              {width: 231px; margin: 0px auto; text-align: center}
#dv_adv .dv_km_img img          {width: 214px; padding: 2px; margin: 5px}

/*advertise left*/
#dv_adv_left .dv_km_img         {width: 190px; margin: 0px auto;}
#dv_adv_left .dv_km_img img     {border: 1px solid #ddd; width: 186px; padding: 2px;}

/*Slide*/

#dv_slide                       {width: 754px; height: 340px; margin: 0px auto; display: inherit; float: left; border: 1px solid #e6e6e6}
#dv_slide #rotator              {width: 754px; margin: 0px auto; position: relative; height:340px;}
#dv_slide #rotator ul li        {list-style: none; top: 0; left:0; position: absolute;}
#dv_slide #rotator ul li img    {width: 754px; height: 340px; border: 1px solid white;}
#dv_slide #rotator ul li.show   {z-index: 500}

/*thuong hieu noi tieng*/
.thnt                           { width: 756px; height: 120px; background: #f4f4f4; margin: 5px 0; text-align: center;}
.thnt img                       { border: 1px solid #d4d4d4; margin: 15px 2px; }

/*footer*/
#footer                         {margin-bottom: 10px; background: #ffffff url(img/buttom.jpg) repeat-x top left; color: #000000; font-size: 13px; padding-top: 20px; width: 1000px; margin: 0 auto;}

.dv_top_news                    {width:745px; display:block; overflow:hidden; font-family: Arial; font-size: 12px; background: #f4f4f4; padding: 5px; height: 180px;}
.dv_top_news_left               {width: 141px; float:left; display: block; margin: 0 4px;}
.dv_top_news_left .dv_top_news_img  {width: 141px; margin: 3px 0; height: 90px; overflow: hidden; border: 1px solid #c5cdd0; padding: 1px;}
.dv_top_news_left .dv_top_news_img img                {width: 140px;}
.dv_top_news_left a           {font-weight: bold; color: #ff49d2; text-align: center;}
.dv_news_content                    { margin: 3px 0;}

.news-date              { float: right; font-family: Arial; font-style: italic; margin: 5px; font-size: 12px; color: #757575; width: 725px; text-align: right}
.name-new               { margin: 0 0 5px 10px; font-size: 20px; font-weight: bold; float: left; width: 715px}
.news-intro             { width: 705px; padding: 10px; font-weight: bold}
.news-content           { width: 705px; padding: 10px; font-size: 12px; font-family: Arial;}
.news-back              { width: 705px; padding: 10px; text-align: right}

.other-news             { background: url(img/img_menubar.png) no-repeat left 4px; margin: 5px; padding-left: 10px;}
.other-news a           { text-decoration: none; font-size: 12px; color: Black}
.other-news a:hover     { color: Red}

.cat-news               {  width: 705px; padding: 10px; font-size: 12px; font-family: Arial; text-align: left}
.cat-news img           { float: left; border: 1px solid #e7e7e7; width: 150px; margin: 5px}
.cat-news a             { font-size: 12px; font-weight: bold; color: #ff49d2; margin: 0; padding: 0; text-decoration: none}
.cat-news a:hover       { text-decoration: underline;}
.news-more              { float: right; margin: 20px 3px; width: 55px; text-align: right; background: url(img/xemtiep.gif) no-repeat right 3px; padding-right: 8px;}
.news-more a            { font-size: 12px; font-weight: normal; color: #ff49d2; margin: 0; padding: 0; text-decoration: none}
.news-more a:hover       { text-decoration: underline;}